[Unit]
Description=Check esbuild output file hash and deploy if changed
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/node /home/pi/code/scripts/check_esbuild.js
EnvironmentFile=-/home/pi/code/esbuild.env

[Install]
WantedBy=multi-user.target
